# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so
*.dylib
chat_data

# Virtual environments
.venv/
venv/
env/
.env

# Testing
.pytest_cache/
.hypothesis/
.coverage
coverage.xml
htmlcov/
*.lcov
/tests

# Type checking
.mypy_cache/
.pyright/
.ruff_cache/

# Node / Vite / Svelte
node_modules/
web/node_modules
web/node_modules/
/package.json
/package-lock.json
web/dist/
web/.svelte-kit/
web/.vite/
web/package-lock.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Kiro
.kiro/

# user data
/chats